#root {
  width: 100%;
  //margin: 0 20px;
  //padding: 1rem;
  text-align: center;
  //max-width: 1640px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.info {
  flex: 1;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }

.stage-container {
  flex: 2;
  max-height: 100vh;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/*@media (max-width: 600px) {*/
/*  .stage-container {*/

/*  }*/
/*}*/

/* Ensure the scrollbar is always visible */
.stage-container::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  height: 12px;
}

.stage-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

.stage-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.stage-container {
  scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: #888 #f4f4f4; /* Color of the scrollbar thumb and track */
}

.input {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.label {
  min-width: 50px;
  margin-right: 10px;
}

.select {
  width: 100%;
  max-width: 200px;
  height: 30px;
}

.calculation,
.summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.summary .details {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
}
